body {
    padding: 0px;
    margin: 0px;
    background-color: hsl(30, 38%, 92%);
}

p {
    margin: 0px;
    color: hsl(212, 21%, 14%);
    font-size: 14px;
}
h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
}

s {
    margin: auto;
    font-size: 12px;
    color: hsl(212, 21%, 14%);
}

.container {
    position: absolute;
    height: 450px;
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

div {
    display: flex;
    flex-direction: row;
}

.left {
    width: 50%;
}

.right {
    display: initial;
    padding: 35px 32px 32px 32px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

tag {
    padding-top: 40px;
}

#price {
    width: 125px;
    color: hsl(158, 36%, 37%);
}

.attribution {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0%;
    text-decoration: none;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    width: 236px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.material-symbols-outlined {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    padding-right: 7px;
    display: inline-flex;
    vertical-align: top;
}
